<label for="event[name]">Name</label>
<input name="event[name]" type="text" value="<%= @event.name%>" />

<label for="event[description]">Description</label>
<input name="event[description]" type="text" value="<%= @event.description%>" />

<label for="event[location]">Location</label>
<input name="event[location]" type="text" value="<%= @event.location%>" />

<label for="event[color]">Event Color</label>
<select name="event[color]">
	<option value="blue">Blue</option>
	<option value="dark-gray">Dark Gray</option>
	<option value="dark-gray-blue">Dark Gray Blue</option>
	<option value="forest-green">Forest Green</option>
	<option value="light-gray">Light Gray</option>
	<option value="lime-popsicle">Lime Popsicle</option>
	<option value="mac-n-cheese">Mac 'n' Cheese</option>
	<option value="pink">Pink</option>
	<option value="purple">Purple</option>
	<option value="red">Red</option>
	<option value="sunset-orange">Sunset Orange</option>
	<option value="turquoise">Turquoise</option>
</select>

<br />
<br />
<br />

<label for="event[image]">Image:</label>
<% if @event.image.nil? %>
	<img src="<%= @event.logo.image(:thumb) %>" />
<% end %>
<input style="float: right;" type="file" name="event[image]" /> 

<br />
<br />
<br />

<label for="start_day">Start Day</label>
<select name="start_day">
	 <% i = 1 %>
	 <% while i <= 31 %>
			<option value="<%= i %>"><%= i %></option>
			<% -i += 1 %>
	<% end %>
</select>

<label for="end_day">End Day</label>
<select name="end_day">
	 <% i = 1 %>
	 <% while i <= 31 %>
			<option value="<%= i %>"><%= i %></option>
			<% -i += 1 %>
	<% end %>
</select>