<article class="progress">
				<h2>If you are interested in attending
				<em><%= @event.name %></em>
				<% @start = @event.start_date.strftime("%A, %B %e") %>
				<% @end = @event.end_date.strftime("%A, %b %e") %>
				<%= @start == @end ? 'on' : 'which starts on' %>
				<%= @start %>,
<!-- 				<%= @start != @end ? ' through ' + @end : "" %>. -->
				please sign up or login.
				</h2>
					<a href="/" class="button" id="attend" type="submit" style="margin: 0 0px 0 10px">Sign Up</a>
					<a href="/" class="button" id="attend" type="submit">Log In</a>
</article>


<section class="left-33">
	<img class="event-image" src="<%= @event.image(:thumb) %>" alt="<%= @event.name %>" />
	<h4><%= @event.name %></h4>
	<h5><%= @event.description %></h5>
	<h6>
		<%= @event.location %>
		&bull;
		<% @start = @event.start_date.strftime("%b %e") %>
		<%= @start %><%= @start != @event.end_date.strftime("%b %e") ? '-' + @event.end_date.strftime("%b %e") : "" %>
	</h6>
	
	
	<hr />
	
	<h2>
		<a href = "/<%= @event.permalink %>/attendees">Attendees (<%= @event.user_event_associations(:attending => true).length %>)</a>
	</h2>
	
	<ul>
	<% i = 0 %>
	<% @attendees.each do |assoc| %>
		<div class="nametag-sm" data-reveal-id="modal-<%= i %>">
				<img src="<%= assoc.user.image(:thumb) %>" />
				<div>
					<h4><%= assoc.user.name %></h4>
					<h5><%= assoc.user.description %></h5>
					<h6><%= assoc.user.location %></h6>
				</div>
<!--
				<% if !assoc.user.email.blank? %>
					<a target="_blank" href="mailto:<%= assoc.user.email %>" class="social email">Email</a>
				<% end %>
				<% if !assoc.user.website.blank? %>
					<a target="_blank" href="<%= assoc.user.website %>" class="social www">Website</a>
				<% end %>
				<% if !assoc.user.facebook.blank? %>
					<a target="_blank" href="<%= assoc.user.facebook %>" class="social facebook">Facebook</a>
				<% end %>
				<% if !assoc.user.linked_in.blank? %>
					<a target="_blank" href="<%= assoc.user.linked_in %>" class="social linkedin">LinkedIn</a>
				<% end %>
				<% if !assoc.user.twitter.blank? %>
					<a target="_blank" href="<%= assoc.user.twitter %>" class="social twitter">Twitter</a>
				<% end %>
-->
				<% i += 1 %>
		</div>		
	<% end %>
	</ul>

	
</section>

<section class="right-67">
	
	<ul class="table">
		<% i = 0 %>
		<% @event.days(:order => [:date.asc]).each do |day| %>
		<% i += 1 %>
		<li <%= i%2 == 0 ? "class='even'" : nil %>>
			<span class="date"><strong><%= day.date.strftime("%b") %></strong><%= day.date.strftime("%e") %></span>
			<div>
				<h4><%= day.name %></h4>
				
				<% day.sessions(:order => [:start_date.asc]).each do |session| %>
				
					<hr />
					
					<h5>
						<%= session.name %> 
					</h5>
					<h5 style="font-size: 14px;"><span><%= session.description %><%= !session.location.blank? ? '&bull; ' + session.location : nil %></span></h5>
					
					<% session.activities(:order => [:start_date.asc]).each do |activity| %>
					
						<p style="margin: 10px 0 0 0;">
							<span>
								<%= activity.start_date.strftime("%l:%M %p").delete(" ") %>-<%= activity.end_date.strftime("%l:%M %p").delete(" ") %>
							</span>
							<strong><%= activity.name %></strong>
							<em><%= ' with ' + activity.users.first.name if !activity.users.first.nil? %></em>
							
						</p>
						<div style="margin: 0 0 0 140px; width: 350px;">
						<% if !activity.description.blank? %>
							<p><%= activity.description %></p>
						<% end %>
						
						<% if !activity.location.blank? %>
							<p><%= activity.location %> </p>
						<% end %>
						</div>
						
					<% end %>
					<p>
						
					</p>
					
				<% end %>
			</div>
		</li>
		<% end %>
	
	</ul>
</section>

<% i = 0 %>
<% @attendees.each do |attendee| %>
	<div id="modal-<%= i %>" class="reveal-modal">
     <%= partial :'nametag_lg', attendee.user  %>
     <a class="close-reveal-modal">&#215;</a>
     <% i += 1 %>
</div>	
<% end %>


<script>
	$(document).ready(function() {
		$('.nametag-sm').click(function(e) {
			e.preventDefault();
			modal = $(this).attr('data-reveal-id');
			$('#'+modal).reveal();
		});
	});
</script>