<% event_admin = is_event_admin(@event) %>

<section class="left-33">
	<h4><%= @event.name %></h4>
	<h5><%= @event.description %></h5>
	<h6>
		<%= @event.location %> &bull; <%= @event.start_date.strftime("%b %e") %><%= @event.start_date != @event.end_date ? '-' + @event.end_date.strftime("%e") : "" %>
	</h6>
	
	<p>
		<% if event_admin %>
			<a href="javascript: void(0)">edit event details</a>
		<% end %>
	</p>
	
	<h2>
	<% if event_admin %>
		<a href = "/events/<%= @event.permalink %>/worksheet">Attendees (<%= @event.user_event_associations(:attending => true).length %>)</a>
	<% else %>
		Attendees (<%= @event.user_event_associations(:attending => true).length %>)
	<% end %>
	</h2>
	
	<ul>
	<% @event.user_event_associations(:attending => true).each do |assoc| %>
		<div class="nametag-sm">
				<img src="<%= assoc.user.image(:thumb) %>" />
				<h4><%= assoc.user.name %></h4>
			
				<% if !assoc.user.email.blank? %>
					<a target="_blank" href="mailto:<%= assoc.user.email %>" class="social email">Email</a>
				<% end %>
				<% if !assoc.user.website.blank? %>
					<a target="_blank" href="<%= assoc.user.website %>" class="social www">Website</a>
				<% end %>
				<% if !assoc.user.facebook.blank? %>
					<a target="_blank" href="<%= assoc.user.facebook %>" class="social facebook">Facebook</a>
				<% end %>
				<% if !assoc.user.linked_in.blank? %>
					<a target="_blank" href="<%= assoc.user.linked_in %>" class="social linkedin">LinkedIn</a>
				<% end %>
				<% if !assoc.user.twitter.blank? %>
					<a target="_blank" href="<%= assoc.user.twitter %>" class="social twitter">Twitter</a>
				<% end %>
		</div>		
	<% end %>
	
	<% if event_admin %>
		<a href = "/events/<%= @event.permalink %>/worksheet">View worksheet</a>
	<% end %>
	</ul>
	
	<% events_unanswered_questions = current_user.questions_this_event(@event) %>
	<% if events_unanswered_questions.count != 0 || event_admin %>
		<h2>Questions (<%= @event.questions.count %>)</h2>
		<% if event_admin %>
			<a href="/questions/new">Add new</a>
		<% end %>
		
	<!--
		<ul>
		<% @event.questions(:limit => 2).each do |question| %>
			<li><%= question.text %></li>
		<% end %>
		</ul>
	-->
		<% if events_unanswered_questions.count != 0 %>
			<a href="/<%= @event.permalink %>/questions/answer">Answer Q's</a>
		<% end %>
	<% end %>
</section>

<section class="right-67">
	
	<ul class="table">
		<% i = 0 %>
		<% @event.days(:order => [:date.asc]).each do |day| %>
		<% i += 1 %>
		<li <%= i%2 == 0 ? "class='even'" : nil %>>
			<span class="date"><strong><%= day.date.strftime("%b") %></strong><%= day.date.strftime("%e") %></span>
			<div>
				<h4><%= day.name %></h4>
				
				<% day.sessions(:order => [:start_date.asc]).each do |session| %>
					<h5><%= session.name %></h5>
					
					<% session.activities(:order => [:start_date.asc]).each do |activity| %>
						<p><span><%= activity.start_date.strftime("%l:%M %P").delete(" ") %>-<%= activity.end_date.strftime("%l:%M %P").delete(" ") %></span><%= activity.name %></p>
					<% end %>
					<p>
						<% if event_admin %>
							<a href="/activities/new?sessions=<%= session.id %>">Add Activity</a>
						<% end %>
					</p>
					
				<% end %>
			</div>
		</li>
		<% end %>
		<% if event_admin %>
			<li class="last<%= i%2 == 1 ? ' even' : nil %>"><a href = "/sessions/new">Add Session</a></li>
		<% end %>
	</ul>
</section>

<div style="float: left; width: 100%; border: 1px solid #eee;">
	<% if !event_admin %>
	<form action="/events/<%= @event.id %>/rsvp" method="post">
		<input name="_method" type="hidden" value="put" />
		<input name="join" type="hidden" value="true" />
		<input name="invite" type="hidden" value="<%= session[:invite] %>" />

		<input type="submit" value="Join" />
	</form>
	<% end %>
	
<% if event_admin %>
	<h2>Invite People to the event</h2>
	<a href="/invites/new">Click here</a>
<% end %>
</div>