<h1><%= @event.name %></h1>
<h6>Find me in views/events/show.erb</h6>

<% event_admin = is_event_admin(@event) %>

<% if event_admin %>
	You are an admin
<% end %>

<br /><br />

<% if session[:invite_event] == @event.id %>
	<form action="/events/<%= @event.id %>" method="post">
		<input name="_method" type="hidden" value="put" />
		<input name="join" type="hidden" value="true" />
		<input name="invite" type="hidden" value="<%= session[:invite] %>" />

		<input type="submit" value="Join" />
	</form>
<% end %>

<br /><br />


<h2>Attendees</h2>
<% if event_admin %>
	<a href = "/events/<%= @event.permalink %>/worksheet">View the Worksheet</a>
<% end %>
<ul>
<% @event.user_event_associations.each do |assoc| %>
	<li><%= assoc.user.name %></li>
<% end %>
</ul>

<% if event_admin %>
	<br /><br />
	<h2>Invite People to the event</h2>
	<a href="/invites/new">Click here</a>
	<br /><br />
<% end %>

<h2>Agenda</h2>
<% if event_admin %>
	<a href = "/activities/new">Add Activity</a>
<% end %>
<ul>
<% @event.activities(:order => [:start_date.asc]).each do |activity| %>
	<li><%= activity.start_date.strftime("%I:%M %p").delete " " %> <%= activity.name %> 
		<% activity.users.each do |speaker| %>
			w/ <%= speaker.name %>
		<% end %>
		<% if event_admin %>
			<a href="/activities/edit/<%= activity.id %>">Add Speaker</a>
		<% end %>
	</li>
<% end %>
</ul>