<h1><%= @event.name %></h1>
<h6>Find me in views/events/show.erb</h6>

<% event_admin = is_event_admin(@event) %>

<% if event_admin %>
	You are an admin
<% end %>

<br /><br />

<% if session[:invite_event] == @event.id %>
	<form action="/events/<%= @event.id %>" method="post">
		<input name="_method" type="hidden" value="put" />
		<input name="join" type="hidden" value="true" />
		<input name="invite" type="hidden" value="<%= session[:invite] %>" />

		<input type="submit" value="Join" />
	</form>
<% end %>

<br /><br />


<h2>Attendees</h2>
<% if event_admin %>
	<a href = "/events/<%= @event.permalink %>/worksheet">View the Worksheet</a>
<% end %>
<ul>
<% @event.user_event_associations.each do |assoc| %>
	<li><%= assoc.user.name %></li>
<% end %>
</ul>

<% if event_admin %>
	<br /><br />
	<h2>Invite People to the event</h2>
	<a href="/invites/new">Click here</a>
	<br /><br />
<% end %>

<h2>Agenda</h2>
<% if event_admin %>
	<a href = "/sessions/new">Add Session</a>
<% end %>

<% @event.days(:order => [:date.asc]).each do |day| %>
	<h4><%= day.name %> (<%= day.date.strftime("%b %e") %>)</h4> 
	<% day.sessions(:order => [:start_date.asc]).each do |session| %>
		<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= session.name %> (<%= session.activities.count %> Activities<% if event_admin %>/ <a href="/activities/new?sessions=<%= session.id %>">Add</a><% end %>)</h5>
			<% session.activities(:order => [:start_date.asc]).each do |activity| %>
				<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= activity.name %> (<%= activity.start_date.strftime("%l:%M %P").delete(" ") %>-<%= activity.end_date.strftime("%l:%M %P").delete(" ") %>)</h6>
			<% end %>
		
	<% end %>
<% end %>

<br /><br />
<h2>Questions</h2>
<% if event_admin %>
	<a href="/questions/new">Click here</a>
<% end %>
<ul>
<% @event.questions.each do |question| %>
	<li><%= question.text %></li>
<% end %>
</ul>
<% if @event.questions.count > 0 %>
	<a href="/<%= @event.permalink %>/questions/answer">Click here</a>
<% end %>