<% event_admin = is_event_admin(@event) %>

<% if !event_admin %>
	<form action="/events/<%= @event.id %>/rsvp" method="post">
		<input name="_method" type="hidden" value="put" />
		<input name="invite" type="hidden" value="<%= session[:invite] %>" />
		
		<% if !current_user.invites(:event => @event, :hide => false).first.nil?  %>
			<article class="progress">
				<p>
				<%= @event.name %>
				<% @start = @event.start_date.strftime("%A, %B %e") %>
				<% @end = @event.end_date.strftime("%A, %b %e") %>
				<%= @start == @end ? 'is on' : 'starts on' %>
				<%= @start %>.
<!-- 				<%= @start != @end ? ' through ' + @end : "" %>. -->
				Will you be attending?
				</p>
				<input name="attend" class="button" id="attend" type="submit" value="Attend" />
				<input name="attend" class="button" id="not_attend" type="submit" value="Decline" />
			</article>
		<% end %>
	</form>
<% end %>

<% if event_admin %>

	<% if @progress < 100 %>
	<article class="progress">
		<p>Your event is <strong><%= @progress %>%</strong> complete.
			<% if @event.description.blank? %>
				<a href="/<%= @event.permalink %>/edit">Add event details now!</a>
			<% elsif (@event.days.sessions.empty?) %>	
				<a href="/<%= @event.permalink %>/sessions/new">Add a session now!</a>
			<% elsif (@event.days.sessions.activities.empty?) %>	
				Add an activity to a session now!
			<% elsif (@event.questions.empty?) %>	
				<a href="/questions/new">Add a question now!</a>
			<% elsif (@event.invites.empty?) %>	
				<a href="/invites/new">Invite people to your event now!</a>
			<% elsif (@event.image.url == "/images/original/missing.png") %>
				<a href="/<%= @event.permalink %>/edit">Add a photo now!</a>
			<% end %>
		</p>
		<div>
			<span style="width: <%= @progress %>%;"></span>
		</div>
	</article>
<% end %>

<% end %>

<section class="left-33">
	<img class="event-image" src="<%= @event.image(:thumb) %>" alt="<%= @event.name %>" />
	<h4><%= @event.name %></h4>
	<h5><%= @event.description %></h5>
	<h6>
		<%= @event.location %>
		&bull;
		<% @start = @event.start_date.strftime("%b %e") %>
		<%= @start %><%= @start != @event.end_date.strftime("%b %e") ? '-' + @event.end_date.strftime("%b %e") : "" %>
	</h6>
	
	<% if event_admin %>
		<a href="/<%= @event.permalink %>/edit">edit event details</a>
	<% end %>
	
	<hr />
	
	<h2>
		<a href = "/<%= @event.permalink %>/attendees">Attendees (<%= @event.user_event_associations(:attending => true).length %>)</a>
	</h2>
	
	<ul>
	<% i = 0 %>
	<% @attendees.each do |assoc| %>
		<div class="nametag-sm" data-reveal-id="modal-<%= i %>">
				<img src="<%= assoc.user.image(:thumb) %>" />
				<div>
					<h4><%= assoc.user.name %></h4>
					<h5><%= assoc.user.description %></h5>
					<h6><%= assoc.user.location %></h6>
				</div>
<!--
				<% if !assoc.user.email.blank? %>
					<a target="_blank" href="mailto:<%= assoc.user.email %>" class="social email">Email</a>
				<% end %>
				<% if !assoc.user.website.blank? %>
					<a target="_blank" href="<%= assoc.user.website %>" class="social www">Website</a>
				<% end %>
				<% if !assoc.user.facebook.blank? %>
					<a target="_blank" href="<%= assoc.user.facebook %>" class="social facebook">Facebook</a>
				<% end %>
				<% if !assoc.user.linked_in.blank? %>
					<a target="_blank" href="<%= assoc.user.linked_in %>" class="social linkedin">LinkedIn</a>
				<% end %>
				<% if !assoc.user.twitter.blank? %>
					<a target="_blank" href="<%= assoc.user.twitter %>" class="social twitter">Twitter</a>
				<% end %>
-->
				<% i += 1 %>
		</div>		
	<% end %>
	</ul>
	
	<% if event_admin %>
		<a href="/<%= @event.permalink %>/worksheet">View invitees worksheet</a>
	<% end %>
	
	<% events_unanswered_questions = current_user.questions_this_event(@event) %>
	<% if events_unanswered_questions.count != 0 || event_admin %>
		<hr />
	
		<h2><a href="<%= @event.permalink %>/questions">Questions (<%= @event.questions.count %>)</a></h2>
		
		<ul>

			<% if events_unanswered_questions.count != 0 %>
				<li><a href="/<%= @event.permalink %>/questions/answer">Answer Questions</a></li>
			<% end %>
			
			<% if event_admin %>
				<li><a href="/questions/new">Add new</a></li>
				<li><a href="<%= @event.permalink %>/answers">View answers</a></li>
			<% end %>
		</ul>
	<% end %>
</section>

<section class="right-67">
	
	<ul class="table">
		<% i = 0 %>
		<% @event.days(:order => [:date.asc]).each do |day| %>
		<% i += 1 %>
		<li <%= i%2 == 0 ? "class='even'" : nil %>>
			<span class="date"><strong><%= day.date.strftime("%b") %></strong><%= day.date.strftime("%e") %></span>
			<div>
				<h4><%= day.name %></h4>
				
				<% day.sessions(:order => [:start_date.asc]).each do |session| %>
				
					<hr />
					
					<h5><%= session.name %> <a href="/<%= @event.permalink %>/sessions/<%= session.id %>/edit" class="edit">edit</a></h5>
					<h5 style="font-size: 14px;"><span><%= session.description %><%= !session.location.blank? ? '&bull; ' + session.location : nil %></span></h5>
					
					<% session.activities(:order => [:start_date.asc]).each do |activity| %>
					
						<p style="margin: 10px 0 0 0;">
							<span>
								<%= activity.start_date.strftime("%l:%M %p").delete(" ") %>-<%= activity.end_date.strftime("%l:%M %p").delete(" ") %>
							</span>
							<strong><%= activity.name %></strong>
							<em><%= ' with ' + activity.users.first.name if !activity.users.first.nil? %></em>
							<a href="/<%= @event.permalink %>/activities/<%= activity.id %>/edit" class="edit">edit</a>
						</p>
						
						<% if !activity.description.blank? %>
							<p><span>&nbsp;</span><%= activity.description %> </p>
						<% end %>
						
						<% if !activity.location.blank? %>
							<p><span>&nbsp;</span><%= activity.location %> </p>
						<% end %>
						
						
					<% end %>
					<p>
						<% if event_admin %>
							<a href="/activities/new?sessions=<%= session.id %>">Add Activity</a>
						<% end %>
					</p>
					
				<% end %>
			</div>
		</li>
		<% end %>
		<% if event_admin %>
			<li class="last<%= i%2 == 1 ? ' even' : nil %>"><a href = "/<%= @event.permalink %>/sessions/new">Add Session</a></li>
		<% end %>
	</ul>
</section>

<% i = 0 %>
<% @attendees.each do |attendee| %>
	<div id="modal-<%= i %>" class="reveal-modal">
     <%= partial :'nametag_lg', attendee.user  %>
     <a class="close-reveal-modal">&#215;</a>
     <% i += 1 %>
</div>	
<% end %>


<script>
	$(document).ready(function() {
		$('.nametag-sm').click(function(e) {
			e.preventDefault();
			modal = $(this).attr('data-reveal-id');
			$('#'+modal).reveal();
		});
	});
</script>