<h1><%= @event.name %> Invites (<%= @event.invites.length %>)</h1>

<table>
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Sent</th>
		<th>Opened</th>
		<th>Attending</th>
		<th>Checked In</th>
	</thead>

<% if @event.invites.length == 0 %>
<tr>
	<td><em>None yet.</em></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<% else %>
	<% i = 0 %>
	<% @event.invites.each do |invite| %>
	<% i += 1 %>
	  <tr <%= i%2 == 0 ? "class='even'" : nil %>>
	    <td>
	    	<%= invite.user.name if invite.user.nil? == false %>
	    </td>
	    <td><%= invite.email %></td>
	    <td>true</td>
	    <td><%= invite.visited %></td>
	    <td>
	    	<%= invite.user.nil? == false && invite.user.user_event_associations(:attending => true).events.include?(@event)  ? "true" : "false" %>
	    </td>
	    <td>
	    	<% if !invite.user.nil? && invite.user.user_event_associations.events.include?(@event)  %>
	    		<% @this_event = invite.user.user_event_associations.first(:event => @event) %>
	    		<%= @this_event.checked_in %>
	    	<% else %>
	    		false
	    	<% end %>
	
	    </td>
	  </tr>
	<% end %>
<% end %>
</table>