<label for="activity[name]">Name</label>
<input name="activity[name]" type="text" value="<%= @activity.name%>" />

<label for="activity[description]">Description</label>
<input name="activity[description]" type="text" value="<%= @activity.description%>" />

<label for="activity[location]">Location</label>
<input name="activity[location]" type="text" value="<%= @activity.location%>" />

<label for="start_hour">Start Hour</label>
<input name="start_hour" class="time-picker" type="text" maxlength="2" value="<%= @start_hour.blank? ? "12" : @start_hour %>" /> :
<input name="start_minute" class="time-picker" type="text" maxlength="2" value="<%= @start_min.blank? ? "00" : @start_min %>" />
<input name="start_ampm" class="time-picker" type="text" maxlength="2" value="<%= @start_am_pm.blank? ? "PM" : @start_am_pm %>" />


<label for="end_hour">End Hour</label>
<input name="end_hour" class="time-picker" type="text" maxlength="2" value="<%= @end_hour.blank? ? "1" : @end_hour %>" /> :
<input name="end_minute" class="time-picker" type="text" maxlength="2" value="<%= @end_min.blank? ? "00" : @end_min %>" />
<input name="end_ampm" class="time-picker" type="text" maxlength="2" value="<%= @end_am_pm.blank? ? "PM" : @end_am_pm %>" />

<label for="speaker">Speaker</label>
<select name="speaker">
	<option value="None">None</option>
	<% @event.users.each do |user| %>
		
		<option <%= "selected=selected" if (!@activity.users.empty? && user.id == @activity.users.first.id) %> value="<%= user.id %>"><%= user.name %></option>
	<% end %>
</select>