<div class="nametag-lg">
	<section class="top">
		<h2><span>Hello</span> my name is</h2>
	</section>
	<section class="mid">
		<img src="<%= nametaglg.image(:thumb) %>" />
		<div>
			<h4><%= nametaglg.name %></h4>
			<h5><%= nametaglg.description %></h5>
			<h6><%= nametaglg.location %></h6>
		</div>
		
		<hr />
		
		<% if !nametaglg.work.blank? %>
		<span>Work</span>
		<div>
			<p><%= nametaglg.work %></p>
		</div>
		<% end %>
		
		<% if nametaglg.interests.length != 0 %>
		<span>Interests</span>
		<div>
			<p>
				<% nametaglg.interests.each do |interest| %>
					<%= interest.name + ',' if nametaglg.interests.last != interest %>
				<% end %>
				<% if nametaglg.interests.count != 0 %>
					<%= nametaglg.interests.last.name %>
				<% end %>
			</p>
		</div>
		<% end %>
		
		<% if nametaglg.organizations.length != 0 %>		
			<span>Organizations</span>
			<div>
				<p>
					<% nametaglg.organizations.each do |organization| %>
						<%= organization.name + ',' if nametaglg.organizations.last != organization %>
					<% end %>
					<% if nametaglg.organizations.count != 0 %>
						<%= nametaglg.organizations.last.name %>
					<% end %>
				</p>
			</div>
		<% end %>
		
		<span>Links</span>
		<div>
			<% if !nametaglg.email.blank? %>
				<a target="_blank" href="mailto:<%= nametaglg.email %>" class="social email">Email</a>
			<% end %>
			<% if !nametaglg.website.blank? %>
				<a target="_blank" href="<%= nametaglg.website %>" class="social www">Website</a>
			<% end %>
			<% if !nametaglg.facebook.blank? %>
				<a target="_blank" href="<%= nametaglg.facebook %>" class="social facebook">Facebook</a>
			<% end %>
			<% if !nametaglg.linked_in.blank? %>
				<a target="_blank" href="<%= nametaglg.linked_in %>" class="social linkedin">LinkedIn</a>
			<% end %>
			<% if !nametaglg.twitter.blank? %>
				<a target="_blank" href="<%= nametaglg.twitter %>" class="social twitter">Twitter</a>
			<% end %>
		</div>
	</section>
	<section class="bot"></section>
</div>