<!doctype html>
<html lang="en">
	<head>
		<title>Proximate | <%= current_user.name %><%= !@title.nil? ? " | " + @title : "" %></title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco|Istok+Web:700italic,400,700,400italic|Shadows+Into+Light&v2' rel='stylesheet' type='text/css'>
		<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	    
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div class="container <%= @event.color if !@event.nil? %>">
			
			<header>
				<section id="user-info">
					<a href="/users/<%= current_user.id %>/nametag"><img src="<%= !current_user.image.nil? ? current_user.image.url(:thumb) : "/images/80x80.gif" %>" alt="<%= current_user.name %>" /></a>
			  		<h2><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></h2>
			  		<h3><%= current_user.email %></h3>
			  		<h4><%= current_user.description %></h4>
			  		<p><a href="/users/<%= current_user.id %>/edit">edit nametag</a></p>
				</section>
				
				<nav id="dashboard-nav">
					<ul>
						<li><a href="javascript: void(0)" id="notifications"><%= current_user.new_invites.count + current_user.events_with_unanswered_questions.count %></a>
							<ul class="level-2">
								<% if current_user.new_invites.length != 0 %>
								<h6>Invites (<%= current_user.new_invites.count %>)</h6>
									<% current_user.new_invites.each do |invite| %>
										<li>
											<%= invite.event.user_event_associations(:admin => true).user.first.name %> invited you to <a href="/invites/<%= invite.slug %>"><%= invite.event.name %></a>.
										</li>
									<% end %>
								<% end %>
								<% if current_user.events_with_unanswered_questions.length != 0 %>
								<h6>Events with Unanswered Questions</h6>
									<% current_user.events_with_unanswered_questions.each do |event| %>
										<li>
											Go to <a href="/<%= event.permalink %>"><%= event.name %></a>
										</li>
									<% end %>
								<% end %>
							</ul>
						</li>

						<li><a id="dashboard" href="/users/<%= current_user.id %>">dashboard</a></li>
						<li><a href="/users/<%= current_user.id %>/nametag">nametag</a></li>
						<li>
							<form action="/logout" method="post">
								<input name="_method" type="hidden" value="delete" />
								<input type="submit" value="log out" />
							</form>
					  	</li>
					</ul>
				</nav>
			</header>

			<div class="top">
					<% event_admin = is_event_admin(@event) %>

		  		<p><%= @title %></p>

		  		<% if @user_dashboard %>
							<a href="/events/new" class="button">Create an Event</a>
					<% end %>
		  		
		  		<% if @event_dashboard %>
		  			
		  			<% if event_admin %>
						<a href="/invites/new" class="button">Invite People</a>
					<% end %>

					<% if !event_admin %>
						<form action="/events/<%= @event.id %>/rsvp" method="post">
							<input name="_method" type="hidden" value="put" />
							<input name="invite" type="hidden" value="<%= session[:invite] %>" />
							
							<% if !current_user.user_event_associations(:attending => false).events.first(:id => @event.id).nil? %>
								<input name="attend" class="button" id="attend" type="submit" value="Attend" />
							<% end %>
							
							<% if !current_user.user_event_associations(:attending => true).events.first(:id => @event.id).nil? %>
								<input name="attend" class="button" id="not_attend" type="submit" value="Decline" />
							<% end %>
							
							<% if !current_user.invites(:event => @event, :hide => false).first.nil?  %>
								<input name="attend" class="button" id="not_attend" type="submit" value="Decline" />
								<input name="attend" class="button" id="attend" type="submit" value="Attend" />
							<% end %>

						</form>
					<% end %>
		  		<% end %>
			</div>
			
			<div class="mid">
			    <%= yield %>

			  <div id="modal-confirm" class="reveal-modal">
					<div class="nametag-lg">
						<section class="top">
							<h2><span>Hello</span> my name is</h2>
						</section>
						<section class="mid">
							<h2>Are you sure you want to leave this page?</h2>
							<p>You have unsaved changes to your profile.</p>
							<a class="button" id="leave-page" href="/">Leave This Page</a>
							<a class="button close-confirm" id="stay-page" href="javascript: void(0)">Stay on This Page</a>
							<p>hello</p>
						</section>
						<section class="bot"></section>
					</div>
				</div>
			</div>
			
			<div class="bot"></div>
			
			<footer>
				Powered by <a href="/">Proximate</a>
			</footer>

		</div> <!-- //container -->
		
	    <%= erb :flash %>
		<script src="/js/scripts.js"></script>
		<script src="/js/jquery.reveal.js" type="text/javascript"></script>


		
			
	</body>
</html>
