<!doctype html>
<html>
	<head>
		<title>Proximate | <%= current_user.name %><%= !@title.nil? ? " | " + @title : "" %></title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco|Istok+Web:700italic,400,700,400italic' rel='stylesheet' type='text/css'>
	    
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div class="container <%= @event.color if !@event.nil? %>">
			
			<header>
				<section id="user-info">
					<img src="<%= !current_user.image.nil? ? current_user.image.url(:thumb) : "/images/80x80.gif" %>" alt="image" />
			  		<h2><%= current_user.name %></h2>
			  		<h3><%= current_user.email %></h3>
			  		<h4><%= current_user.description %></h4>
			  		<p><a href="/users/<%= current_user.id %>/edit">edit nametag</a></p>
				</section>
				
				<nav id="dashboard-nav">
					<ul>
						<li><a href="/users/<%= current_user.id %>">dashboard</a></li>
						<li><a href="javascript: void(0)">nametag</a></li>
						<li><a href="javascript: void(0)">notifications <span><%= current_user.new_invites.count + current_user.events_with_unanswered_questions.count %></span></a>
<!--
							<ul>
								<li>
									<% current_user.new_invites.each do |invite| %>
										<%= invite.event.name %>
									<% end %>
									
									<% current_user.events_with_unanswered_questions.each do |event| %>
										<%= event.name %>
									<% end %>
								</li>
							</ul>
-->
						</li>
						<li>
						  	<% if current_user %>
						      <form action="/logout" method="post">
						        <input name="_method" type="hidden" value="delete" />
						        <input type="submit" value="log out" />
						      </form>
						  	<% end %>
					  	</li>
					</ul>
				</nav>
			</header>
			
			<div id="top">
		  		<p><%= @title %></p>
			</div>
			
			<div id="mid">
			    <%= yield %>

			</div>
			
			<div id="bot"></div>
			
			<footer>
				Powered by <a href="/">Proximate</a>
			</footer>

		</div> <!-- //container -->
		
	    <%= erb :flash %>
		<script src="/js/scripts.js"></script>
	</body>
</html>
