<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<section class="left-33">
	<h3>Event Answers</h3>
	<p>Here are the answers for your event. Answers are shown in a chart if they are a drop down or radio button style. </p>
</section>

<section class="right-67">
	<% for i in 0..(@questions.count-1)  %>
	<article>
		<h4><%= @answers[i].first.question.text %></h4>
		
		<ol>
		<% @answers[i].each do |answer| %>
			<% if answer.int_answer.nil? %>
					<li><%= answer.text_answer %></li>
			<% else %>
					<script type="text/javascript">
						google.load("visualization", "1", {packages:["corechart"]});
						google.setOnLoadCallback(drawChart);
						function drawChart() {
						var data = new google.visualization.DataTable();
						data.addColumn("string", "Task");
						data.addColumn("number", "Hours per Day");
						data.addRows(5);
			        
			        <% if !answer.question.option1.blank? %>
			        	data.setValue(0, 0, "<%= answer.question.option1 %>");
			        	data.setValue(0, 1, <%= @choices[i][0] %>);
							<% end %>
			        
			         <% if !answer.question.option2.blank? %>
			        	data.setValue(1, 0, "<%= answer.question.option2 %>");
			        	data.setValue(1, 1, <%= @choices[i][1] %>);
							<% end %>
			        
			         <% if !answer.question.option3.blank? %>
			        	data.setValue(2, 0, "<%= answer.question.option3 %>");
			        	data.setValue(2, 1, <%= @choices[i][2] %>);
							<% end %>
		
			        var chart = new google.visualization.PieChart(document.getElementById("question-<%= @answers[i].first.question.id %>"));
			        chart.draw(data, {
			        	backgroundColor: "#f5f5f5",
			        	width: 540,
			        	height: 200,
			        	title: "",
			        	colors: ["#80d89f", "#d88080"],
			        	is3D: true,
			        	chartArea:{left:0,top:0,width:"100%",height:"100%"}
			        }); }
			    	</script>
			    	<div id="question-<%= @answers[i].first.question.id %>"></div>
			<% end %>
		<% end %>
	</article>
	<% end %>
</section>
