<label for="user[image]">Image</label>
<input type="file" name="user[image]" /> 

<label for="user[email]">Email</label>
<input name="user[email]" type="text" value="<%= @user.email %>" />

<label for="user[name]">Name</label>
<input name="user[name]" type="text" value="<%= @user.name %>" />

<label for="user[description]">Description</label>
<input name="user[description]" type="text" value="<%= @user.description %>" />

<label for="user[location]">Location</label>
<input name="user[location]" type="text" value="<%= @user.location %>" />

<label for="user[work]">Work</label>
<input name="user[work]" type="text" value="<%= @user.work %>" />

<label for="user[website]">Website</label>
<input name="user[website]" type="text" value="<%= @user.website %>" />

<label for="user[linked_in]">Linked In</label>
<input name="user[linked_in]" type="text" readonly="readonly" value="<%= @user.linked_in %>" />

<label for="user[facebook]">Facebook</label>
<input name="user[facebook]" type="text" readonly="readonly" value="<%= @user.facebook %>" />

<label for="interests">
	Interests
	<span>Type an interest, then press enter or comma</span>
</label>
<input id="interests" name="interests" type="text" value="<% @user.interests.each do |interest| %><%= interest.name %>,<% end %>" data-seperator="," />

<label for="organizations">
	Organization
	<span>Type an organization, then press enter or comma</span>
</label>
<input id="organizations" name="organizations" type="text" value="<% @user.organizations.each do |organization| %><%= organization.name %>,<% end %>" data-seperator="," />