<h1><%= @user.name %></h1>
<h6>Find me in views/users/show.erb</h6>

<h2>Events (<%= @user.user_event_associations.length %>)</h2>
<a href="/events/new">Create an Event</a>
<% if @user.user_event_associations.length != 00 %>
	<% @user.user_event_associations.each do |assoc| %>
		<p>
			<a href="/events/<%= assoc.event.permalink %>"><%= assoc.event.id %><%= assoc.event.name %></a>
			<% if assoc.admin %>
				<strong>Admin</strong>
			<% end %>
		</p>
	<% end %>
<% end %>