<section class="left-33">
	<h3>My Events</h3>
	
	<h2>Filter</h2>
	<ul>
		<li><a href="javascript: void(0)" id="filter-all" class="filtered">All events (<%= @user.user_event_associations.length + @user.new_invites.length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-attendee">Events I'm attending (<%= @user.user_event_associations(:attending => true).events.length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-admin">Events I created (<%= @user.user_event_associations(:admin => true).length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-invited">Pending invites (<%= @user.new_invites.length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-declined">Invites I declined (<%= @user.user_event_associations(:attending => false).length %>)</a></li>
	</ul>

	<hr />
		
	<% if @user.people_matches.length != 0 %>
		<h2>Matches (<%= @user.people_matches.length %>)</h2>
		<% @user.people_matches.each do |match| %>
		<div class="nametag-sm">
			<img src="<%= match.image(:thumb) %>" />
			<h4><%= match.name %></h4>
		
			<% if !match.email.blank? %>
				<a target="_blank" href="mailto:<%= match.email %>" class="social email">Email</a>
			<% end %>
			<% if !match.website.blank? %>
				<a target="_blank" href="<%= match.website %>" class="social www">Website</a>
			<% end %>
			<% if !match.facebook.blank? %>
				<a target="_blank" href="<%= match.facebook %>" class="social facebook">Facebook</a>
			<% end %>
			<% if !match.linked_in.blank? %>
				<a target="_blank" href="<%= match.linked_in %>" class="social linkedin">LinkedIn</a>
			<% end %>
			<% if !match.twitter.blank? %>
				<a target="_blank" href="<%= match.twitter %>" class="social twitter">Twitter</a>
			<% end %>
		</div>	
		<% end %>
	<% else %>
		<h2>No matches yet.</h2>
	<% end %>
</section>

<section class="right-67">
	
	<% if @user.user_event_associations.length != 0 %>
		<% @user.user_event_associations.each do |assoc| %>
			<article class="all <%= assoc.admin ? 'admin' : '' %> <%= assoc.attending ? 'attendee' : 'declined' %>">
				<img src="<%= assoc.event.image(:thumb) %>" alt="" />
				<div>
					<h4><a href="/<%= assoc.event.permalink %>"><%= assoc.event.name %></a></h4>
					<h5><%= assoc.event.description %></h5>
					<h6>
						<%= assoc.event.location %> &bull; 
						<%= assoc.event.start_date.strftime("%b %e") %><%= assoc.event.start_date != assoc.event.end_date ? '-' + assoc.event.end_date.strftime("%e") : nil %>
					</h6>
				</div>
				<% if assoc.admin %>
					<span class="tag">Admin</span>
					<span class="tag">Attending</span>
				<% elsif !assoc.admin %>
					<% if assoc.attending %>
						<span class="tag">Attending</span>
					<% else %>
						<span class="tag">Not Attending</span>
					<% end %>
				<% end %>
			</article>
		<% end %>
	<% else %>
		<article>
			<h1>You have no events yet.</h1>
			<a href="/events/new">Create one now!</a>
		</article>
	<% end %>
	
	<% if @user.new_invites.length != 0 %>
		<% @user.new_invites.each do |invite| %>
			<article class="all invited">
				<img src="<%= invite.event.image(:thumb) %>" alt="" />
				<div>
					<h4><a href="/invites/<%= invite.slug %>"><%= invite.event.name %></a></h4>
					<h5><%= invite.event.description %></h5>
					<h6><%= invite.event.location %></h6>
				</div>
				<span class="tag">Invited</span>
			</article>
		<% end %>
	<% end %>
</section>