<section class="left-33">
	<h3>My Events</h3>
	
	<h2>Filter</h2>
	<ul>
		<li><a href="javascript: void(0)" id="filter-all">All events (<%= @user.user_event_associations.length + @user.new_invites.length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-attendee">Events I'm attending (<%= @user.user_event_associations.events.length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-admin">Events I created (<%= @user.user_event_associations(:admin => true).length %>)</a></li>
		<li><a href="javascript: void(0)" id="filter-invited">Pending invites (<%= @user.new_invites.length %>)</a></li>
	</ul>
	
	<% if @user.people_matches.length != 0 %>
		<h2>Matches (<%= @user.people_matches.length %>)</h2>
		<% @user.people_matches.each do |match| %>
			<p>
				<img src="<%= !match.image.nil? ? match.image : "/images/80x80.gif" %>" alt="<%= match.name %>" />
				<%= match.name %>
			</p>
		<% end %>
	<% else %>
		<h4>No matches yet.</h4>
	<% end %>
</section>

<section class="right-67">
	<a href="/events/new" class="button">Create an Event</a>
	
	<% if @user.user_event_associations.length != 0 %>
		<% @user.user_event_associations.each do |assoc| %>
			<article class="all <%= assoc.admin ? 'admin attendee' : 'attendee' %>">
				<span class="date">
					<strong>
						<%= assoc.event.start_date.strftime("%b") %>
					</strong>
					<%= assoc.event.start_date.strftime("%e") %><%= assoc.event.start_date != assoc.event.end_date ? '-' + assoc.event.end_date.strftime("%e").delete(" ") : '' %>
				</span>
				<div>
				<% if assoc.admin %>
					<span class="tag">Admin</span>
					<span class="tag">Attending</span>
				<% elsif !assoc.admin %>
					<span class="tag">Attending</span>
				<% end %>
				<h4><a href="/events/<%= assoc.event.permalink %>"><%= assoc.event.name %></a></h4>
				<h5><%= assoc.event.description %></h5>
				<h6><%= assoc.event.location %></h6>
				<img src="<%= assoc.event.logo %>" alt="" />
				</div>
			</article>
		<% end %>
	<% else %>
		<article>
			<h1>You have no events yet.</h1>
			<a href="/events/new">Create one now!</a>
		</article>
	<% end %>
	
	<% if @user.new_invites.length != 0 %>
		<% @user.new_invites.each do |invite| %>
			<article class="all invited">
				<span>Invited</span>
				<h1><a href="/invites/<%= invite.slug %>"><%= invite.event.name %></a></h1>
			</article>
		<% end %>
	<% end %>
</section>