<section class="left-33">
	<h3>Great, we got some data!</h3>
	<p>Please check your information and fill in any empty fields.</p>
</section>

<section class="right-67">
	<form action="/signup/step2" method="post" id="form-signup">
	
		<label for="user[email]">Email</label>
		<input name="user[email]" type="text" value="<%= session[:email] %>" />
	
		<label for="user[password]">Password</label>
		<input name="user[password]" type="password" value="<%= session[:password] %>" id="password" />
	
		<label for="passwordconf" id="passwordconf">Password Confirmation</label>
		<input name="passwordconf" type="password" value="<%= @user.password%>" />
	
		<label for="user[name]">Name</label>
		<input name="user[name]" type="text" value="<%= @user.name%>" />
	
		<label for="user[description]">Description</label>
		<input name="user[description]" type="text" value="<%= @user.description%>" />
	
		<label for="user[location]">Location</label>
		<input name="user[location]" type="text" value="<%= @user.location%>" />
	
		<label for="user[website]">Website</label>
		<input name="user[website]" type="text" value="<%= @user.website%>" />
		
		<input name="user[linked_in]" type="hidden" value="<%= @user.linked_in%>" />
		<input name="user[twitter]" type="hidden" value="<%= @user.twitter%>" />
		<input name="user[facebook]" type="hidden" value="<%= @user.facebook%>" />

		<input name="user[linked_in_uid]" type="hidden" value="<%= @user.linked_in_uid%>" />
		<input name="user[twitter_uid]" type="hidden" value="<%= @user.twitter_uid%>" />
		<input name="user[facebook_uid]" type="hidden" value="<%= @user.facebook_uid%>" />

		<input name="user[image_url]" type="hidden" value="<%= @user.image_url %>" />
		
		<fieldset id="terms">
			<label>
				<input name="terms" type="checkbox" />
				<p>I agree to the terms.</p>
			</label>
			<label for="terms" class="error hide">You must agree to the terms.</label>
		</fieldset>
	
		<input type="submit" value="Sign Up" />
	</form>
</section>
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>