<section class="left-33">
	<h3>Great, we got some data!</h3>
	<p>Please check your information and fill in any empty fields.</p>
</section>

<section class="right-67">
	<form action="/signup/step2" method="post" id="form-signup">
	
		<label for="user[email]">Email</label>
		<input name="user[email]" type="text" value="<%= @user.email%>" />
	
		<label for="user[password]">Password</label>
		<input name="user[password]" type="password" value="<%= @user.password%>" id="password" />
	
		<label for="passwordconf" id="passwordconf">Password Confirmation</label>
		<input name="passwordconf" type="password" value="<%= @user.password%>" />
	
		<label for="user[name]">Name</label>
		<input name="user[name]" type="text" value="<%= @user.name%>" />
	
		<label for="user[description]">Description</label>
		<input name="user[description]" type="text" value="<%= @user.description%>" />
	
		<label for="user[location]">Location</label>
		<input name="user[location]" type="text" value="<%= @user.location%>" />
	
		<label for="user[website]">Website</label>
		<input name="user[website]" type="text" value="<%= @user.website%>" />
		
		<label for="terms"></label>
		<input name="terms" type="checkbox" />
	
		<input type="submit" value="Sign Up" />
	</form>
</section>