<h6>Find me in views/users/step2.erb</h6>

<h2>Great, we pulled in some data</h2>
<h3>To proceed please validate the information and fill out any empty fields</h3>

<form action="/signup/step2" method="post">

	<p>Information</p>
	
	<!-- <img src="<%= @user.image %>" alt="<%= @user.name %>" /> -->

	<label for="user[email]">Email</label>
	<input name="user[email]" type="text" value="<%= @user.email%>" />

	<label for="user[password]">Password</label>
	<input name="user[password]" type="password" value="<%= @user.password%>" />

	<label for="user[name]">Name</label>
	<input name="user[name]" type="text" value="<%= @user.name%>" />

	<label for="user[description]">Description</label>
	<input name="user[description]" type="text" value="<%= @user.description%>" />

	<label for="user[location]">Location</label>
	<input name="user[location]" type="text" value="<%= @user.location%>" />

	<label for="user[website]">Website</label>
	<input name="user[website]" type="text" value="<%= @user.website%>" />

	<label for="user[linked_in]">Linked In</label>
	<input name="user[linked_in]" type="text" value="<%= @user.linked_in%>" />
	
	<br />

	<input type="submit" value="Sign Up" />
</form>