<section class="left-33">
	<h3>Send Invites</h3>
	<p>Invite guests to your event.</p>
</section>

<section class="right-67">
	<form id="form-invites" action="/invites" method="post">


		<label for="emails">
			Emails
			<span>Type an email, then press enter or comma</span>
		</label>
		<input id="email-invites" name="emails" type="text" data-seperator="," />

		<label for="subject">Subject</label>
		<input name="subject" type="text" value="<%= @event.name %>" />

		<label for="message">Message</label>
		<textarea name="message" type="text">I'd like to invite you to join us at <%= @event.name %> on <%= @event.start_date.strftime('%A, %B %e') %>.

Hope to see you there!
<%= current_user.name %></textarea>

		<input type="submit" value="Send Invites" />
	</form>
</section>
<script src="/js/jquery.autocomplete.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>

<script>
	 $(document).ready(function(){
 		var data = "<% current_user.events.users.each do |user| %><%= user.email %>,<% end %>".split(",");

		$('#email-invites').tagsInput({
			'autocomplete_url': data,
			autocomplete:{selectFirst:true,width:'100px',autoFill:true},
			height:'100px',
			width:'340px',
			unique:true,
			defaultText:''
		});
  });
</script>